<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Items</title>
</head>
<body>
<h1>Lista de Items</h1>

<button mat-raised-button color="primary" (click)="mostrarLista = !mostrarLista">
  Mostrar/Ocultar Lista
</button>

<table *ngIf="mostrarLista" mat-table [dataSource]="listaItems" class="mat-elevation-z8">
  <!-- Columnas de la tabla -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let item">{{ item.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="costo">
    <th mat-header-cell *matHeaderCellDef>Costo</th>
    <td mat-cell *matCellDef="let item">{{ item.costo }}</td>
  </ng-container>

  <!-- Filas de la tabla -->
  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>





</body>
</html>